li {
  padding: 10px;
  margin: 5px;
  width: 200px;
  text-align: center;
  list-style-type: none;
  border: 1px solid red;
  background-color: black;
  color: white;
}
textarea {
    display:block;
    width:700px;
    height:400px;/*Длина:400px*/
    margin:0 auto;
    resize:vertical;
    outline:none;/*Светящаяся рамка:убераем*/
    border-width:2px;/*Ширина рамки:2px*/
    border-radius:2px;/*Скругление углов:2px*/
    font-size:18pt;/*Размер шрифта:18pt*/
    text-align:center;/*Положение текста:по центру*/
    background:#ecf0f1;
    color:rgb(52, 73, 94);
}

button {
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: rgb(68, 68, 68);
  text-decoration: none;
  user-select: none;
  padding: 0.2em 1.2em;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: rgb(245, 245, 245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all 0.218s ease 0s;
}
button:hover {
  color: rgb(24, 24, 24);
  border: 1px solid rgb(198, 198, 198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
button:active {
  color: rgb(51, 51, 51);
  border: 1px solid rgb(204, 204, 204);
  background: rgb(238, 238, 238)
    linear-gradient(rgb(238, 238, 238), rgb(224, 224, 224));
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
