* {
  font-family: "Noto Sans SC", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body h1 {
  text-align: center;
  margin-top: 50px;
}

.wrap {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

#list > li {
  cursor: pointer;
  padding: 5px;
  margin-bottom: 8px;
  min-width: 200px;
  text-align: center;
  list-style-type: none;
  border: none;
  border-radius: 5px;
  background: #ecf0f1;
  color: rgb(52, 73, 94);
  transition: all .9s ease 0s;
}

.container-right {
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#butt {
  font-size: 16px;
  font-weight: bold;
  color: rgb(68, 68, 68);
  text-decoration: none;
  user-select: none;
  padding: 0.2em 1.2em;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: rgb(245, 245, 245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all 0.218s ease 0s;
  width: 150px;
  height: 40px;
  text-align: center;
}
#butt:hover {
  color: rgb(24, 24, 24);
  border: 1px solid rgb(198, 198, 198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
#butt:active {
  color: rgb(51, 51, 51);
  border: 1px solid rgb(204, 204, 204);
  background: rgb(238, 238, 238) linear-gradient(rgb(238, 238, 238), rgb(224, 224, 224));
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

input {
  outline: none; /*Светящаяся рамка:убераем*/
  border: none; /*Ширина рамки:2px*/
  border-radius: 5px; /*Скругление углов:2px*/
  font-size: 14px; /*Размер шрифта:18pt*/
  background: #ecf0f1;
  color: rgb(52, 73, 94);
  padding: 10px;
  margin-right: 10px;
}

